/* stylelint-disable selector-list-comma-newline-after */

body {
  background-image: url("../images/blog-post.jpg");
}

.alert {
  font-size: small;
  padding: 0.45rem 0.25rem !important;
}

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.remove {
  color: teal !important;
  font-size: small;
  cursor: pointer;
}

.container {
  background-color: white;
  padding-bottom: 2px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  opacity: 1;
}

.nav-bar {
  background-color: #333;
  height: 50px;
  margin-left: 10px;
}

.navbar__link {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 15px 10px 0px 10px;
  width: max-content;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar__link:hover {
  text-decoration: none !important;
  background-color: #ddd;
  color: black;
}

.navbar__link--active {
  background-color: #d42304;
}

.nav- .nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 20px;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #2f4f4f;
}

/*
   * Footer
   */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

@media only screen and (device-width: 375px) and (device-height: 768px) and (-webkit-device-pixel-ratio: 3) {
  .action {
    margin: 5px;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .action {
    margin: 5px;
  }
}
